* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root{
    display: flex;
    justify-content: center;
    width: 900px;
}

.grid-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.color-block {
    display: block;
    background-color: blue;
    width: 10px;
    height: 10px;
}